<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.wirelessteam.Views">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ludus_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ludus_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:debuggable="false">
        <activity
            android:name="com.project.wirelessteam.Views.setupPage"
            android:parentActivityName="com.project.wirelessteam.Views.login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.wirelessteam.Views.login" />
        </activity>
        <activity
            android:name="com.project.wirelessteam.Views.Highlights"
            android:parentActivityName="com.project.wirelessteam.Views.setupPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.wirelessteam.Views.setupPage" />
        </activity>
        <activity
            android:name="com.project.wirelessteam.Views.BoardActivity"
            android:parentActivityName="com.project.wirelessteam.Views.setupPage"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.wirelessteam.Views.setupPage" />
        </activity>
        <activity android:name="com.project.wirelessteam.Views.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.project.wirelessteam.Views.registration"
            android:parentActivityName="com.project.wirelessteam.Views.login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.wirelessteam.Views.login" />
        </activity>
        <activity android:name="com.project.wirelessteam.Views.lobby"
            android:parentActivityName="com.project.wirelessteam.Views.setupPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.wirelessteam.Views.setupPage" />
        </activity>
    </application>

</manifest>